
/** Start stage **/

#extractBtn,
#fetchWidgetFolderColumn {
    display: none;
}

/** Select stage **/
.stage-select #dataWrapper,
.stage-select #fetchWidgetColumn {
  display: flex;
}

/** Fetch stage **/
.stage-fetch #fetchWidgetSelectCsv,
.stage-fetch #urlColumn,
.stage-fetch #fetchBtn {
  display: none;
}

.stage-fetch #fetchWidgetProgress
 {
  display: flex;
}

/** Ready stage **/
.stage-ready #fetchWidgetSelectCsv,
.stage-ready #stopBtn {
  display:none;
}

.stage-select #dataWrapper,
.stage-ready #fetchWidgetDownload {
  display: flex;
}
