
/* Mode-specific adjustments */

.mode-getimg #processFolderWrapper,
.mode-getimg #folderWrapper {
    display: none; /* hide CSV-specific elements in getimg mode */
}

.mode-geturl #processCsvWrapper,
.mode-geturl #csvWrapper {
    display: none; /* hide CSV-specific elements in getimg mode */
}

/** Start stage **/

#extractBtn,
#fetchWidgetFolderColumn {
    display: none;
}

/** Select stage **/
.stage-select-urls #dataWrapper,
.stage-select-imgs #dataWrapper,
.stage-select-urls #fetchWidgetColumn {
  display: flex;
}

.stage-select-imgs.stage-select-urls #fetchWidgetFolderColumn,
.stage-select-imgs #extractBtn {
    display: flex;
}

/** Fetch stage **/
.stage-fetch #fetchWidgetSelectCsv,
.stage-fetch #urlColumn,
.stage-fetch #fetchBtn {
  display: none;
}

.stage-fetch #fetchWidgetProgress
 {
  display: flex;
}

/** Ready stage **/
.stage-ready #fetchWidgetSelectCsv,
.stage-ready #stopBtn {
  display:none;
}

.stage-ready #fetchWidgetDownload {
  display: flex;
}
