
/* Mode-specific adjustments */

#processFolderWrapper,
#folderWrapper {
    display: none;
}

.mode-geturl #processFolderWrapper,
.mode-geturl #folderWrapper {
    display: flex;
}


.mode-geturl #processCsvWrapper,
.mode-geturl #csvWrapper {
    display: none;
}

#downloadZipBtn {
    display: inline-block;
}

#downloadCsvBtn {
    display: none;
}

.mode-geturl #downloadZipBtn {
    display: none;
}

.mode-geturl #downloadCsvBtn {
    display: flex;
}


/** Start stage **/

#extractBtn,
#fetchWidgetFolderColumn {
    display: none;
}

/** Select stage **/
.stage-select-urls #dataWrapper,
.stage-select-imgs #dataWrapper,
.stage-select-urls #fetchWidgetColumn {
  display: flex;
}

.stage-select-imgs.stage-select-urls #fetchWidgetFolderColumn,
.stage-select-imgs #extractBtn {
    display: flex;
}

/** Fetch stage **/
.stage-fetch #fetchWidgetSelectCsv,
.stage-fetch #fetchWidgetSelectFolder,
.stage-fetch #urlColumn,
.stage-fetch #fetchBtn {
  display: none;
}

.stage-fetch #fetchWidgetProgress
 {
  display: flex;
}

/** Ready stage **/
.stage-ready #fetchWidgetSelectCsv,
.stage-ready #fetchWidgetSelectFolder,
.stage-ready #stopBtn {
  display:none;
}

.stage-ready #fetchWidgetDownload {
  display: flex;
}
